body {
  font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
}

h1 {
	color: #990000;
}

tt {
	color: #007a00;
}

tt.parameter {
	color: #000000;
}

.acronym {
	font-style: italic;
}

.screen {
	width: 90%;
	border: 1px dashed #b0c4de;
	background-color: #f0f8ff;
	color: #000000;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

table.note {
        width: 90%;
	font-family: helvetica, arial, sans-serif;
        border: 1px dashed #a0c0a0;
        background-color: #f0f8f0;
        color: #000000;
        padding: 0.5em;
}
